* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
body {
    background-color: black;
}
.content {
    text-align: center;
    margin-top: 20%;
}

h1 {
    color: wheat;
    font-size: 50px;
}



p {
    color: wheat;
    font-size: 20px;
}

